body{
background-image: url("https://cdn.vox-cdn.com/thumbor/l-GHxNQ6kEtij2AUwSctzDrGO60=/0x0:1920x1080/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/45078974/gta_v_starlet.0.0.jpg")
background-repeat: no-repeat;
background-position: default;
background-attachment: fixed;
background-size: cover;
}
